* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Instrument_Sans-Regular;
    src: url(src/fonts/Instrument_Sans\,Quicksand/InstrumentSans-Regular.ttf);
}

@font-face {
    font-family: Instrument_Sans_SemiBold;
    src: url(src/fonts/Instrument_Sans\,Quicksand/InstrumentSans-SemiBold.ttf);
}

@font-face {
    font-family: Quicksand-regular;
    src: url(src/fonts/Instrument_Sans\,Quicksand/Quicksand-Regular.ttf);
}



.hero {
    height: 450px;
    background: url("src/imagens/datacenterimg.jpeg") center/cover no-repeat;
    position: relative;

}

nav {
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.claro {
    height: 100px;
    width: 450px;
}

.claro img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.hebe {
    height: 100px;
    width: 100px;

}

.hebe img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.textos-hero {
    position: absolute;
    margin-left: 2%;
    color: white;
}

.titulo-hero {
    font-size: 58px;
    margin-top: 9%;
    font-family: Instrument_Sans-Regular, sans-serif ;
    font-weight: lighter;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.356);
    background-color: #3f75ff98;
    padding: 0px 10px;
}

.paragrafo-hero {
    margin-top: 10%;
    font-size: 4.5vh;
    font-family: Quicksand-regular, sans-serif;
    font-weight: bolder;
}

@media (max-width: 1024px) {
    .hero {
        height: 300px;
    }

    .titulo-hero {
    font-size: 38px;
    }

    .paragrafo-hero {
    font-size: 33px;

    }

}

@media (max-width: 768px) {
    .hero {
        height: 300px;

    }

    .titulo-hero {
    font-size: 25px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.356);

    }

    .paragrafo-hero {
    margin-top: 18%;
    font-size: 21.5px;

    }

    nav {
    height: 50px;

    }

.claro {
    height: 40px;
    width: 180px;

    }

.claro img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    }

.hebe {
    height: 50px;
    width: 50px;

    }

.hebe img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    }

}
