* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Instrument_Sans_Regular;
    src: url(src/fonts/Instrument_Sans\,Quicksand/InstrumentSans-Regular.ttf);
}

@font-face {
    font-family: Instrument_Sans_SemiBold;
    src: url(src/fonts/Instrument_Sans\,Quicksand/InstrumentSans-SemiBold.ttf);
}

@font-face {
    font-family: Quicksand-regular;
    src: url(src/fonts/Instrument_Sans\,Quicksand/Quicksand-Regular.ttf);
}



/*Configuração para computadores*/

nav {
    height: 100px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 450px;
    background: url("src/imagens/datacenterimg.jpeg") center/cover no-repeat;
    position: relative;

}

.claro {
    max-width: 450px;
}

.claro img {
    height: auto;
    width: 100%;
    object-fit: cover;

}

.hebe {
    max-width: 100px;
}

.hebe img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.textos-hero {
    position: absolute;
    margin-left: 30px;
    color: white;
}

.titulo-hero {
    font-size: 58px;
    margin-top: 9%;
    font-family: Instrument_Sans_Regular, sans-serif ;
    font-weight: lighter;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.356);
    background-color: #3f75ff98;
    padding: 0px 10px;
}

.paragrafo-hero {
    margin-top: 10%;
    font-size: 4.5vh;
    font-family: Quicksand-regular, sans-serif;
    font-weight: bolder;
}

main {
    margin: 60px 30px 0px 30px;
}


.textos-main {
    font-family: Instrument_Sans_Regular, sans-serif;
}

.titulo-main {
    font-size: 40px;
    text-align: center;
    background-color: #AFD1FF;
}

.paragrafo-main {
    font-size: 30px;
    margin-top: 70px;
}

.imagens-main {
    margin: 70px auto;
    text-align: center;
    max-width: 1200px;
}

.imagens {
    width: 100%;
    height: auto;
    object-fit: cover;

}

#legenda {
    font-family: Quicksand-regular, sans-serif;
    font-size: 25px;
    margin-top: 7px;
    color: #0000008e;
}

article {
    margin: 0px -30px 90px -30px;
    padding: 60px 30px;
    background-color: #1D3A5F;
}


.textos-article {
    font-family: Instrument_Sans_Regular, sans-serif;
}

.titulo-article {
    font-size: 40px;
    text-align: center;
    background-color: #00000036;
    color: #FFC857;
}

.paragrafo-article {
    font-size: 30px;
    margin-top: 70px;
    color: white;
}

.imagens-article {
    max-width: 1200px;
    margin: 70px auto 80px auto;
    text-align: center;
}

.borda {
    border: 1px solid white;
}
.legenda {
    font-family: Quicksand-regular, sans-serif;
    font-size: 25px;
    margin-top: 7px;
    color: rgba(255, 255, 255, 0.815);
}

.lista-article {
    font-size: 30px;
    margin-top: 40px;
    color: white;
}

.lista-article ul {
    margin-left: 25px;
    line-height: 2 ;
}

.continuação-article {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.titulo-main-sec {
    font-size: 40px;
    text-align: center;
    background-color: #f2bd0e73;
}

.imagens-article-sem-continuacao {
    margin-bottom: 0px;
}


.swiper-slide { 
    height: 340px;
    border-radius: 30px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}


.card-image {
    width: 100%;
    margin-bottom: 16px;
}

.card-img {
    height: 170px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.slide-container.swiper { 
    position: relative; 
}

.slide-container.swiper .swiper-button-next,
.slide-container.swiper .swiper-button-prev {
  top: auto;
  bottom: 12px;            
  margin-bottom: 196px;
  margin-left: 10px;
}


.slide-content {
    margin: 40px 0;
    margin-left: 10px;
    overflow: visible !important    ;
}

.card-content {
    padding: 0px 20px 20px 20px;
}

.name {
    font-family: Instrument_Sans_Regular, sans-serif ;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.description {
    font-family: Instrument_Sans_Regular, sans-serif ;
    font-size: 18px;
}

.swiper-navBtn {
    width: 20px;
    height: 20px;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.486);
}

a {
    color: black;
    text-decoration: none;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    color: none;
    text-decoration: none;
}

.card-image {
    width: 100%;
    margin-bottom: 20px;
}

.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

/*Configuração para celulares medios em pé*/

@media (max-width: 768px) and (orientation: portrait) {
.hero {
    height: 300px;

}

.textos-hero {
    margin-left: 2%;
}


.titulo-hero {
    font-size: 25px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.356);

}

.paragrafo-hero {
    margin-top: 18%;
    font-size: 21.5px;

}

nav {
    height: 50px;
    padding: 10px;

}

.claro {
    max-width: 180px;
}

.hebe {
    max-width: 50px;
    }

main {
    margin: 60px 10px 0px 10px;
}

.titulo-main {
    font-size: 26px;
    text-align: center;
    background-color: #AFD1FF;
}

.paragrafo-main {
    font-size: 21px;
    margin-top: 50px;
    
}

.imagens-main {
    margin: 40px auto;
    text-align: center;
}


#legenda {
    font-size: 17px;
    color: #0000008e;
}

article {
    margin: 0px -10px 90px -10px;
    padding: 60px 10px;
    background-color: #1D3A5F;
}

.titulo-article {
    font-size: 26px;
    text-align: center;
    background-color: #00000036;
    color: #FFC857;
}

.paragrafo-article {
    font-size: 21px;
    margin-top: 70px;
    color: white;
}

.imagens-article {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.borda {
    border: 1px solid white;

}
.legenda {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.815);
}

.lista-article {
    font-size: 21px;
    margin-top: 40px;
    color: white;
}

.lista-article ul {
    margin-left: 16px;
    line-height: 1.5 ;
}

.continuação-article {
    font-size: 21px;
    margin-top: 20px;
    color: white;
}


.titulo-main-sec {
    font-size: 30px;
    text-align: center;
    background-color: #f2bd0e73;
}

.swiper-slide { 
    height: 450px;
    border-radius: 30px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}


.card-image {
    width: 100%;
    margin-bottom: 20px;
}

.card-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.slide-content {
    margin: 40px 0;
    overflow: visible !important ;
}


.name {
    font-size: 22px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
}


.swiper-button-next,
.swiper-button-prev,
.swiper-navBtn {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
}

}


/*Configuração para celulares médios e deitados*/

@media (max-width: 900px ) and (orientation: landscape) {
.hero {
    height: 300px;

}

.textos-hero {
    margin-left: 2%;
}


.titulo-hero {
    font-size: 45px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.356);
}

.paragrafo-hero {
    font-size: 25px;
}

nav {
    height: 50px;
    padding: 10px;

    }

.claro {
    max-width: 200px;
}

.hebe {
    max-width: 55px;
    }

.titulo-main {
    font-size: 30px;
    text-align: center;
    background-color: #AFD1FF;
}

.paragrafo-main {
    font-size: 23px;
    margin-top: 50px;
}

.titulo-article {
    font-size: 30px;
    text-align: center;
    background-color: #00000036;
    color: #FFC857;
}

.paragrafo-article {
    font-size: 23px;
    margin-top: 70px;
    color: white;
}

.lista-article {
    font-size: 23px;
    margin-top: 40px;
    color: white;
}

.continuação-article {
    font-size: 23px;
    margin-top: 20px;
    color: white;
}

.swiper-slide { 
    height: 350px;
    border-radius: 30px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}


.card-image {
    width: 100%;
    margin-bottom: 20px;
}

.card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.slide-content {
    margin: 40px 0;
    overflow: visible !important    ;
}


.name {
    font-size: 22px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
}


.swiper-button-next,
.swiper-button-prev,
.swiper-navBtn {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
}

}

@media (max-width: 1600px) {
    .swiper-slide { 
    height: 370px;
    border-radius: 30px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}
}